body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15rem;
}

li {
  border: 1px solid #000;
  display: flex;
  justify-content: flex-end;
  line-height: 3rem;
}

label {
  display: block;
  width: 100%;
  padding-left: 1rem;
}

input {
  position: absolute;
  margin: 1rem;
}

input[type='checkbox']:checked + label {
  background-color: rgb(146, 208, 136);
  font-weight: bold;
}
